<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type"
        content="text/html; charset=UTF=8">
    <title>HackerRank日本語まとめ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" href="css/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="title">HackerRank日本語コンテストまとめ</div>
        <div class="container-fluid navi">
            <div class="row">
                <div class="col-sm-3"><a href="http://localhost:3000/">コンテスト一覧</a></div>
                <div class="col-sm-3"><a href="http://localhost:3000/new">新着コンテスト</a></div>
                <div class="col-sm-3"><a href="http://localhost:3000/add">コンテスト追加</a></div>
                <div class="col-sm-3"><a href="http://localhost:3000/contact">お問い合わせ</a></div>
            </div>
        </div>
    </header>
    <div role="main">
        <h1 style="text-align: center;">お問い合わせ</h1>
		<p>コンテストの情報が間違っている/間違って登録してしまったなど、何か連絡したいことがあれば</p>
		<p>Twitter <a href="https://twitter.com/wk1080id">@wk1080id</a> までお願いします。</p>
    </div>
    <div class="marquee">
        <p>
            <img src="images/usa.png" />
        </p>
    </div>
</body>
</html>
