<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type"
        content="text/html; charset=UTF=8">
    <title>HackerRank日本語まとめ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" href="css/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="title">HackerRank日本語コンテストまとめ</div>
        <div class="container-fluid navi">
            <div class="row">
                <div class="col-sm-3"><a href="/">コンテスト一覧</a></div>
                <div class="col-sm-3"><a href="/new">新着コンテスト</a></div>
                <div class="col-sm-3"><a href="/add">コンテスト追加</a></div>
                <div class="col-sm-3"><a href="/contact">お問い合わせ</a></div>
            </div>
        </div>
    </header>
    <div role="main">
        <h1 style="text-align: center;">お問い合わせ</h1>
		<p>コンテストの情報が間違っている/間違って登録してしまったなど、何か連絡したいことがあれば</p>
		<p>Twitter <a href="https://twitter.com/wk1080id">@wk1080id</a> までお願いします。</p>
        <p>APIについては<a href="https://github.com/rika0384/hackerrank-jp/blob/master/README.md">GitHubのREADME</a>を参照してください</p>
    </div>
    <div style="text-align:center;">
        <img src="images/usa.png" />
    </div>

    <div class="flip-boards">
        <div class="board left">
            <div class="front"><h2>パネル：表</h2></div>
            <div class="flipped"><h2>パネル：裏</h2></div>
        </div>
    </div>

    <div class="marquee">
        <p>
            <img src="images/usa.png" />
        </p>
    </div>
</body>
</html>
